<div class="position">
  <h1><%= position.company %></h1>
  <div class="period"><%= period(position.start_date, position.end_date) %></div>
  <h4><%= position.title %></h4>
  <p><%= position.summary %></p>
</div>
