// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.resume-header {
  text-align: center;

  h1 {
    font-size: 36px;
    font-weight: 500;
  }
}

.resume {
  box-shadow: #dddddd 1px 1px 2px 2px;
}

.resume {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section {
  width: 900px;
  overflow: hidden;

  >h1 {
    width: 269px;
    float: left;
    text-align: right;
    padding-right: 30px;
    font-size: 20px;
    color: #555;
    font-weight: 300;
  }

}

.contact {
  float: right;
  width: 570px;
  border-left: 1px solid #ddd;
  padding-left: 30px;
  padding-bottom: 30px;

  .name {
    font-size: 20px;
    font-weight: 800px;
    margin-bottom: 6px;
  }

  .email, .phone {
    margin-bottom: 4px;
    color: #666;
    font-size: 12px;
  }

}

.content {
  width: 570px;
  float: right;
  border-left: 1px solid #ddd;
  line-height: 1.7em;
  padding-left: 30px;
  padding-bottom: 40px;

  h1 {
    line-height: 27px;
  }

  h4 {
    clear: left;
  }

  h1+p {
    margin-top: 10px;
  }

}

.period {
  text-align: right;
  font-weight: 500;
  font-size: 12px;
}

.position, .project {
  margin-bottom: 30px;
}

.position, .education {

  h1 {
    float: left;
  }

}
