<div class="resume-header">
  <h1>
    Rubén Gil
  </h1>
</div>
<div class="tools">
  <a class="btn">Refresh</a>
</div>
<div class="resume">
  <section class="section">
    <section class="contact">
      <p class="name">Rubén Gil Gómez</p>

      <p class="email">rubengil22@gmail.com</p>

      <p class="phone">34620901135</p>

      <p class="phone">34936331111</p>
    </section>
  </section>
  <section class="picture">
  </section>
  <section class="section">
    <h1>Summary</h1>
    <div class="description">
      <p><%= @user_profile.summary %></p>
    </div>
  </section>
  <section class="section">
    <h1>Experience</h1>

    <div class="description">
      <div class="period">
        <h1>Razorfish Healthware</h1>

        <h2>07/2011 - Present</h2>

        <h3>Senior Technical Architect</h3>

        <p>As a senior technical architect defines the languages tools and processes of the technical team. Defines,
          communicates and reviews codings standards across the company. Coaches and mentors the members of the
          development team. Ensures the quality of code through code reviewing processes implemented with Github
          pull requests. Promotes and coordinates technical knowledge spreading within the organization. Tracks and
          identifies new opportunities to improve the methodology inside the organization.</p>
      </div>
    </div>
  </section>
</div>
